<!DOCTYPE html>
<html lang="en">
<body>
    <h1>KTFHL Trade Analyzer</h1>
    <ul>
        <li>Include one player name/pick per line and names must be exactly match how they are spelt in Yahoo (see list below for correct spellings of names)</li>
        <li>Please give 30 seconds once you click "Run Trade" for it to be processed</li>
        <li>Draft picks must be between Rounds 1-13. To include them just include the number (i.e. include "1")</li>
    </ul>
    <form action="." method="POST">
        <div style="display: flex; padding-top: 10px;">
            <div style="width: 560px">
                <div style="display: flex;">
                    <div>
                        <div style="padding:2px; text-align:center">
                            <b>Team 1</b>
                        </div>
                        <div style="padding:10px">
                            <textarea type="text" name="team1" rows="10" cols="30"></textarea>
                        </div>
                    </div>
                    <div>
                        <div style="padding:2px; text-align:center">
                            <b>Team 2</b>
                        </div>
                        <div style="padding:10px">
                            <textarea type="text" name="team2" rows="10" cols="30"></textarea>
                        </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <input type="submit" name="my-form" value="Run trade">
                </div>
            </div>
            <div style="text-align: center;">
                <div style="padding:2px; text-align:center">
                    <b>Available Players</b>
                </div>
                <div style="padding:10px">
                    <textarea type="text" name="team1" rows="30" cols="30">Aaron Dell
Aaron Ekblad
Adam Fox
Adam Henrique
Adam Larsson
Adam Lowry
Adam Ruzicka
Adin Hill
Adrian Kempe
Akira Schmid
Aleksander Barkov
Alex DeBrincat
Alex Iafallo
Alex Killorn
Alex Nedeljkovic
Alex Newhook
Alex Ovechkin
Alex Pietrangelo
Alex Tuch
Alexandar Georgiev
Alexander Barabanov
Alexander Kerfoot
Alexander Romanov
Alexander Wennberg
Alexis Lafreniere
Anders Lee
Andre Burakovsky
Andrei Kuzmenko
Andrei Svechnikov
Andrei Vasilevskiy
Andrew Copp
Andrew Mangiapane
Anthony Beauvillier
Anthony Cirelli
Anthony Duclair
Anthony Mantha
Anton Forsberg
Anton Lundell
Antti Raanta
Anze Kopitar
Arber Xhekaj
Artemi Panarin
Arthur Kaliyev
Artturi Lehkonen
Auston Matthews
Barclay Goodrow
Blake Coleman
Blake Lizotte
Blake Wheeler
Bo Horvat
Boone Jenner
Bowen Byram
Brad Marchand
Brady Skjei
Brady Tkachuk
Brandon Hagel
Brandon Montour
Brandon Saad
Brandon Tanev
Brayden McNabb
Brayden Point
Brayden Schenn
Brent Burns
Brett Pesce
Brian Elliott
Brock Boeser
Brock Nelson
Bryan Rust
Cale Makar
Calen Addison
Calle Jarnkrok
Calvin Petersen
Cam Fowler
Cam Talbot
Carter Hart
Carter Verhaeghe
Casey DeSmith
Casey Mittelstadt
Chandler Stephenson
Charlie Coyle
Charlie Lindgren
Charlie McAvoy
Chris Kreider
Christian Dvorak
Claude Giroux
Clayton Keller
Cole Caufield
Cole Perfetti
Collin Delia
Colton Parayko
Connor Clifton
Connor Hellebuyck
Connor Ingram
Conor Garland
Connor McDavid
Conor Sheary
Corey Perry
Craig Anderson
Damon Severson
Daniel Sprong
Daniel Vladar
Daniil Tarasov
Darcy Kuemper
Darnell Nurse
David Krejci
David Pastrnak
David Perron
David Rittich
Dawson Mercer
Devon Toews
Dillon Dube
Dmitry Orlov
Dominik Kubalik
Dougie Hamilton
Drake Batherson
Drew Doughty
Dustin Tokarski
Dylan Cozens
Dylan Larkin
Dylan Strome
Eetu Luostarinen
Elias Lindholm
Elias Pettersson
Elvis Merzlikins
Eric Comrie
Erik Gustafsson
Erik Haula
Erik Kallgren
Erik Karlsson
Esa Lindell
Evan Bouchard
Evan Rodrigues
Evander Kane
Evgeni Malkin
Evgeny Kuznetsov
Felix Sandstrom
Filip Chytil
Filip Forsberg
Filip Gustavsson
Filip Hronek
Frank Vatrano
Frederick Gaudreau
Frederik Andersen
Gabriel Landeskog
Gabriel Vilardi
Gustav Forsling
Gustav Nyquist
Hampus Lindholm
Ian Cole
Igor Shesterkin
Ilya Mikheyev
Ilya Samsonov
Ilya Sorokin
Ivan Barbashev
Ivan Provorov
J.J. Moser
J.T. Compher
J.T. Miller
Jaccob Slavin
Jack Campbell
Jack Eichel
Jack Hughes
Jack Quinn
Jack Roslovic
Jacob Markstrom
Jacob Trouba
Jaden Schwartz
Jake Allen
Jake DeBrusk
Jake Guentzel
Jake Muzzin
Jake Oettinger
Jake Sanderson
Jakob Chychrun
Jakub Vrana
James Reimer
James van Riemsdyk
Jamie Benn
Jared McCann
Jared Spurgeon
Jaroslav Halak
Jason Robertson
Jason Zucker
Jean-Gabriel Pageau
Jeff Carter
Jeff Petry
Jeff Skinner
Jeremy Swayman
Jesper Bratt
Jesper Fast
Jesperi Kotkaniemi
JJ Peterka
Joe Pavelski
Joel Eriksson Ek
Joel Farabee
John Carlson
John Gibson
John Klingberg
John Tavares
Johnny Gaudreau
Jonas Johansson
Jonas Siegenthaler
Jonatan Berggren
Jonathan Huberdeau
Jonathan Marchessault
Jonathan Quick
Jonathan Toews
Joonas Korpisalo
Jordan Binnington
Jordan Eberle
Jordan Kyrou
Jordan Martinook
Jordan Staal
Josh Anderson
Josh Bailey
Josh Manson
Josh Morrissey
Josh Norris
Justin Faulk
Justin Schultz
Juuse Saros
Juuso Parssinen
Kaapo Kahkonen
Kaapo Kakko
Karel Vejmelka
Kasperi Kapanen
Keith Kinkaid
Kent Johnson
Kevin Fiala
Kevin Hayes
Kevin Labanc
Kevin Lankinen
Kevin Shattenkirk
Kirby Dach
Kirill Kaprizov
Kris Letang
Kyle Connor
Kyle Okposo
Lawson Crouse
Leon Draisaitl
Linus Ullmark
Logan Couture
Logan Thompson
Lucas Raymond
Luke Schenn
MacKenzie Blackwood
MacKenzie Weegar
Marc-Andre Fleury
Marcus Johansson
Mark Giordano
Mark Scheifele
Mark Stone
Martin Jones
Martin Necas
Mason Marchment
Mason McTavish
Mathew Barzal
Matias Maccelli
Mats Zuccarello
Matt Benning
Matt Boldy
Matt Duchene
Matt Dumba
Matt Grzelcyk
Matt Murray
Matt Roy
Matthew Tkachuk
Mattias Ekholm
Matty Beniers
Max Domi
Michael Bunting
Michael McLeod
Michael Rasmussen
Mika Zibanejad
Mikael Backlund
Mikael Granlund
Mikhail Sergachev
Mikko Rantanen
Miles Wood
Miro Heiskanen
Mitch Marner
Morgan Frost
Morgan Rielly
Moritz Seider
Nathan MacKinnon
Nazem Kadri
Neal Pionk
Nic Dowd
Nick Bjugstad
Nick Foligno
Nick Jensen
Nick Paul
Nick Ritchie
Nick Schmaltz
Nick Suzuki
Nicklas Backstrom
Nico Hischier
Nicolas Roy
Nikita Kucherov
Nikita Zadorov
Nino Niederreiter
Noah Cates
Noah Dobson
Noah Hanifin
Noel Acciari
Oliver Bjorkstrand
Oliver Ekman-Larsson
Oliver Wahlstrom
Oskar Sundqvist
Owen Power
Owen Tippett
Patrice Bergeron
Patrick Kane
Patrik Laine
Pavel Buchnevich
Pavel Francouz
Pavel Zacha
Petr Mrazek
Pheonix Copley
Phil Kessel
Philipp Grubauer
Philipp Kurashev
Phillip Danault
Pierre Engvall
Pierre-Luc Dubois
Pyotr Kochetkov
Quinn Hughes
Rasmus Andersson
Rasmus Dahlin
Reilly Smith
Rickard Rakell
Robert Thomas
Robin Lehner
Roman Josi
Roope Hintz
Ross Colton
Ryan Ellis
Ryan Graves
Ryan Hartman
Ryan Johansen
Ryan Lindgren
Ryan Nugent-Hopkins
Ryan Pulock
Ryan Strome
Sam Bennett
Sam Montembeault
Sam Reinhart
Sam Steel
Scott Laughton
Scott Mayfield
Sean Couturier
Sean Durzi
Sean Monahan
Sebastian Aho
Semyon Varlamov
Sergei Bobrovsky
Seth Jarvis
Seth Jones
Shane Pinto
Shayne Gostisbehere
Shea Theodore
Sidney Crosby
Sonny Milano
Spencer Knight
Spencer Martin
Stefan Noesen
Steven Stamkos
Stuart Skinner
T.J. Oshie
Tage Thompson
Tanner Jeannot
Taylor Hall
Taylor Raddysh
Teuvo Teravainen
Thatcher Demko
Thomas Chabot
Thomas Greiss
Tim Stutzle
Timo Meier
Tom Wilson
Tomas Hertl
Tomas Tatar
Tony DeAngelo
Torey Krug
Travis Konecny
Travis Sanheim
Trent Frederic
Trevor Moore
Trevor Zegras
Tristan Jarry
Troy Terry
Ty Dellandrea
Ty Smith
Tyler Seguin
Tyler Toffoli
Tyson Barrie
Ukko-Pekka Luukkonen
Valeri Nichushkin
Victor Hedman
Victor Olofsson
Viktor Arvidsson
Ville Husso
Vince Dunn
Vincent Trocheck
Vitek Vanecek
Vladimir Tarasenko
William Carrier
William Karlsson
William Nylander
Wyatt Johnston
Yanni Gourde
Yegor Sharangovich
Zach Hyman
Zach Parise</textarea>
                </div>
            </div>
        </div>
    </form>
</body>
</html>